.projectsPage {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 2rem;

  .headAndFilters {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    border: solid #DDE3EB;
    border-width: 1px 0px;
    padding: 1rem 0;
    align-items: center;
    .InputContainer {
        flex-grow: 1;
    }
    .headItemContainer {
      padding-top: 1.2rem;
    }
  }
}
