auto-install-peers = true
node-linker=hoisted
@projex:registry=https://europe-west1-npm.pkg.dev/xenon-chain-324014/npm-registry/
//europe-west1-npm.pkg.dev/xenon-chain-324014/npm-registry/:always-auth=true
//europe-west1-npm.pkg.dev/xenon-chain-324014/npm-registry/:_authToken="ya29.a0AfB_byAeYs7l_0KstKpz2tpEF1xVEbUdBe4DMAQtQZRW4EfmTp5mnYWzyFtYIESeUyneuDQKLj84pn-xRArwB2Cx_l19wByAnKo6gswaVBV1E2fPgAv2PK254CJI3prMKuzOgZUu1cotg6LkGg10T_BLUMlokRxuloflX6WLlD0aCgYKAbgSARESFQHsvYlsoz4FGIcHwWTiIiGcz_LX0Q0178"