@projex:registry=https://europe-west1-npm.pkg.dev/xenon-chain-324014/npm-registry/
//europe-west1-npm.pkg.dev/xenon-chain-324014/npm-registry/:always-auth=true
//europe-west1-npm.pkg.dev/xenon-chain-324014/npm-registry/:_authToken="ya29.a0AfB_byAntPBEHjBM_mqgisDjOBetf9p5F3RjPjLYYq7ID2QnjD0RsrOJQMGgMVN_C8ndUCpH_ssDdBsJOVZIufJjPhLGrVvvOfZ4DCaPlTRSu_AgY6CBmrBOg-EwFnBeb0jik-Q0J6YixmdzbgHhC8ER9GBzg3t3tDTH3jTRH-Tw0QaCgYKAR0SARISFQHsvYlsVqK7meU1St7yzjGHRSxGIw0181"