@import '../../../../../styles/app';

.collaboratorCard {
  background-color: #ffffff;
  width: 100%;
  height: 100%;
  padding: 1rem;

  display: flex;
  gap: 2rem;

  position: relative;

  .image {
    background-color: $neutral-light;
    width: 4rem;
    min-width: 4rem;
    height: 4rem;
    min-height: 4rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
  }

  .content {
    flex-grow: 1;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;

    h4,
    span,
    a {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    .name {
      text-transform: uppercase;
      margin: 0;
      font-family: 'Open Sans', sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 0.875rem;
      line-height: 1.2em;
      letter-spacing: 0.04em;
    }
    .job {
      font-weight: 700;
      line-height: 1.2em;

      &.green {
        color: $green;
      }
    }
    .informations {
      display: flex;
      flex-direction: column;
      color: $text;
    }
  }

  .kebabButton {
    background: none;
    border: none;
    cursor: pointer;

    position: absolute;
    right: 0;
    top: 0;

    padding: 0.5rem 0.625rem;

    display: flex;
    align-items: center;
    justify-content: center;
  }
}
