@import '@projex/global-styles';

.projectCard {
  height: 100%;
  width: 100%;
  max-width: 416px;
  max-height: 172px;
  overflow: hidden;

  display: flex;
  gap: 0.625rem;

  .image {
    display: block;
    max-width: 29%;
    height: 10.75rem;
    max-height: 100%;
    object-fit: cover;
    object-position: center;
  }
  .content {
    padding: 1rem 2rem 1rem 0;
    flex-grow: 1;

    display: flex;
    flex-direction: column;
    gap: 0.25rem;

    .title {
      max-height: calc(1.25rem * 2);
      height: calc(1.25rem * 2);
      max-width: 254px;
      margin: 0;
      overflow: hidden;
      text-overflow: ellipsis;
      color: $primary;
      font-weight: 700;
      font-size: 1.25rem;
      line-height: 1.2rem;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }

    .logoContainer {
      height: 1.5rem;
      width: auto;

      > .logo, img {
        min-width: 93.241px;
        height: 24px;
      }
    }
  }
}
