.affairsCerbePage {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.generalities_collapse {
  background-color: rgba(130, 130, 252, 0.1) !important;
}

.biodiversity_collapse {
  background-color: rgba(130, 252, 130, 0.6) !important;
}

.energy_collapse {
  background-color: rgba(255, 238, 204, 0.8) !important;
}

.carbon_collapse {
  background-color: rgba(128, 128, 128, 0.3) !important;
}

.resources_collapse {
  background-color: rgba(130, 130, 252, 0.1) !important;
}
.technical_collapse {
  background-color: rgba(179, 240, 255, 0.8) !important;
}
