.affairsCerbePage {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

$styleListWithColors: ("generalities": rgb(235, 235, 255), "biodiversity": rgba(130, 252, 130, 1), "energy": rgba(255, 238, 204, 1), "carbon": rgb(176, 173, 173, 1), "resources": rgba(179, 240, 255, 1), "technical": rgba(#FAFAFAFA, 1));

@each $style, $color in $styleListWithColors {
  .#{$style}_collapse {
    $i: index($styleListWithColors, $style) + 1;
    background-color: $color !important;
    position: sticky;
    top: 0;
    z-index: $i;
    @if $style == "generalities" {
      > .ant-collapse-header-text {
        color: #DDE3EB !important;
      }
    } @else if $style == "carbon" {
      > .ant-collapse-header-text {
        color: #DDE3EB !important;
      }
    }
  }
}