@import '@projex/global-styles';

.fileCard {
  position: relative;
  background-color: $bg-primary;
  width: 192px;
  height: 192px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.10);
  padding: 1rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .5rem;
  cursor: pointer;
  transition: box-shadow .3s ease-out;
  &:hover {
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.30);
  }

  .imageContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .title {
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
