@import '../../../../../styles/app';

.clientCompanyDetails {
    background: $bg-secondary;

    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    .title {
      margin: 0;
      font-weight: 700;
      font-size: 1.25rem;
      color: $primary;

      word-wrap: break-word;
    }

    .coordinates {
      font-style: normal;
      color: $primary;

      a {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
}

.userDetailsContainer {
  display: flex;
  flex-direction: column;
  gap: .25rem;
  overflow: hidden;

  .title {
    font-weight: 700;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: $primary;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .coordinates {
    list-style: none;
    padding: 0;
    margin: 0;
    line-height: 120%;

    li {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
}