

.adress {
    font-size: 0.9em;
    font-style: normal;
    line-height: 80%;
}

.boxLeft {
    background: #F6F9FB;
    height: 12em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1em;
    gap: 8px;
    flex: none;
    order: 0;
    flex-grow: 1;    
}
.boxBottomRight{
    display: flex;
    flex-direction: row;
    gap: 0.3em;
    // border: 2px solid greenyellow;
    margin-top: 2em;
    margin-left: 2em;
}
.boxRight {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;

    width: 28em;
    height: 102px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    // border: 2px solid red;
    margin-left: 2em;
    margin-top: 1em;
    // justify-content: center;
    
}
.boxImg{
    width: 6em;
}

.clientCard {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    height: 12em;
}


.clientName {
    font-size: 1.25em;
}
.contactBtn{
    width: 1.4em;
    height: 1.4em;
    border-radius: 1.4em;
    background-color: #DDE3EB;
    box-shadow: 0px 0.125em 0.250em rgba(0, 0, 0, 0.07);
}

.contactImg {
    width: 4em;
    height: 4em;
    border-radius: 4em;
}

.containerClientCard{
    padding: 1em;
    width: 40em
}