@import '../../../../../styles/app';

.boxBottomRight, .sliderContent, .slider, .container, .clientCard {
    display: flex;
    flex-direction: row;
}
.adress {
    font-size: 0.9em;
    font-style: normal;
    line-height: 80%;
}
.boxLeft {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: #F6F9FB;
    height: 12em;
    padding: 1em;
    gap: 8px;
    flex: none;
    order: 0;
    width: 10em;
    border: 2px solid black;
}
.boxBottomRight{
    gap: 0.3em;
    margin-top: 1em;
    margin-left: 2em;
    height: 100px;
}
.slider {
    align-items: flex-start;
    padding: 0px;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin-left: 2em;
    margin-top: 1em;
    overflow: hidden;
    animation-name: slider;
    
}
.sliderContent {
    padding: 0px;
    height: 102px;
    flex: none;
    order: 0;
    align-self: stretch;
    position: relative;
}
.container {
    width: 16em;
}
.slideAnime {
    animation: slider 0.3s ease-in-out forwards;
}
@keyframes slider {
    0% {
        left: 0px;
        }
        100% {
        left: -16em;
        }
}
.boxImg{
    width: 6em;
}
.clientCard {
    align-items: flex-start;
    padding: 0px;
    height: 12em;
    overflow: hidden;
}
.clientName {
    font-size: 1.25em;
}
.contactBtn {
    width: 2.2em;
    height: 2.2em;
    border-radius: 2.2em;
    background-color: #DDE3EB;
    box-shadow: 0px 0.125em 0.250em rgba(0, 0, 0, 0.07);
    margin-right: -0.6rem;
    border: 2px solid white;
    transition: 0.3s;
}
.contactBtnTxt:hover{
    color: #F6F9FB;
    font-size: 0.8em;
}
.contactBtnTxt{
    font-size: 0.8em;
}
.contactBtn:hover {
    width: 2.2em;
    height: 2.2em;
    border-radius: 2.2em;
    background-color: $primary-light;
    box-shadow: 0px 0.125em 0.250em rgba(0, 0, 0, 0.07);
    color: #F6F9FB;
    margin-right: -0.6rem;
    border: 2px solid white;
    position: -webkit-sticky;
    margin-top: -0.4rem;
    filter: contrast(175%) brightness(103%);
    transition-timing-function: cubic-bezier(.34,.99,.63,1.18) ease-in-out;
}
.boxBottomRight {
    &:hover {
        .contactBtn {
            margin-right: -0.3rem;
            // transition: transform 2000ms ease-in;
            transition-timing-function: cubic-bezier(.34,.99,.63,1.18) ease-in-out;
        }
    }
}
.contactImg {
    width: 4em;
    height: 4em;
    border-radius: 4em;
}
.containerClientCard{
    padding: 1em;
    width: 40em
}
.boxImg img, .boxBottomRight img {
    object-fit: cover;
}