@primary-light: #003a8c;
@primary: #002559;
@primary-dark: #001026;

@text-light: #606771;
@text: #2d343e;
@text-dark: #000000;

@orange-light: #f9ab5d;
@orange: #f7922c;
@orange-dark: #e77909;

@green-light: #40cd5f;
@green: #2dad49;
@green-dark: #228538;

@blue-light: #52bae6;
@blue: #25a8e0;
@blue-dark: #1a89b8;

@gold-light: #dfc889;
@gold: #d4b561;
@gold-dark: #c9a239;

@red-light: #f24b53;
@red: #ee1c25;
@red-dark: #c80f17;

@gray-light: #c6cdd6;
@gray: #999999;
@gray-dark: #666666;

@primary-color: @primary;
@info-color: @primary-color;
@success-color: @green;
@processing-color: @primary-dark;
@error-color: @red;
@highlight-color: @red-light;
@warning-color: @gold;

@tooltip-bg: #002559e7;

@breadcrumb-last-item-color : @text;
@breadcrumb-font-size : 0.875em;
@breadcrumb-link-color-hover : @primary-color;